# Application ENV Variables
APP_PATH=./app
APP_PORT=9001

# Other, dont change yaa!
DOCUMENT_ROOT=/var/www/html
IMAGE_REGISTRY=xlaporedis
IMAGE_TAG=latest

# DB
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_ADMIN_PASSWORD=

# PGADMIN
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# redis
BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
